# -----------------------------
# Git
# -----------------------------

.gitignore

# -----------------------------
# Python
# -----------------------------
__pycache__/
*.pyc
*.pyo
*.pyd

# -----------------------------
# Virtual environments
# -----------------------------
.env
.venv
venv/

# -----------------------------
# ML artifacts (runtime-generated)
# -----------------------------

artifacts/data_ingestion
artifacts/data_validation
*.egg-info

# -----------------------------
# DVC cache
# -----------------------------
# .dvc/cache/

# -----------------------------
# OS / Editor junk
# -----------------------------
.DS_Store
Thumbs.db
.vscode/
.idea/

# -----------------------------
# Logs
# -----------------------------
*.log

